In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression

from sklearn.metrics import r2_score, mean_squared_error

from sklearn import preprocessing

from sklearn.model_selection import train_test_split

from sklearn.feature_selection import RFE

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
os.path.join(dirname, filename)

NameError: name 'dirname' is not defined

In [4]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [8]:
db = pd.read_csv('Downloads/ParisHousing.csv')
db.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0

In [9]:
db = pd.read_csv('~/Downloads/ParisHousing.csv')
db.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0

In [10]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   squareMeters       10000 non-null  int64
 1   numberOfRooms      10000 non-null  int64
 2   hasYard            10000 non-null  int64
 3   hasPool            10000 non-null  int64
 4   floors             10000 non-null  int64
 5   cityCode           10000 non-null  int64
 6   cityPartRange      10000 non-null  int64
 7   numPrevOwners      10000 non-null  int64
 8   made               10000 non-null  int64
 9   isNewBuilt         10000 non-null  int64
 10  hasStormProtector  10000 non-null  int64
 11  basement           10000 non-null  int64
 12  attic              10000 non-null  int64
 13  garage             10000 non-null  int64
 14  hasStorageRoom     10000 non-null  int64
 15  hasGuestRoom       10000 non-null  int64
 16  price              10000 non-null  float64
dtypes: float64(1), int64(16)
memory usage: 1.3 MB

In [12]:
corr_matrix = db.corr(method = 'pearson')

In [13]:
corr_matrix

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
squareMeters,1.000000,0.009573,-0.006650,-0.005594,0.001109,-0.001541,0.008758,0.016619,-0.007207,-0.010667,0.007480,-0.003960,-0.000588,-0.017246,-0.003486,-0.000623,0.999999
numberOfRooms,0.009573,1.000000,-0.011240,0.017015,0.022244,0.009040,0.008340,0.016766,0.003978,-0.002865,-0.001656,-0.013990,0.012061,0.023188,-0.004760,-0.015529,0.009591
hasYard,-0.006650,-0.011240,1.000000,0.015514,-0.000883,0.006760,0.005023,0.004279,0.002214,-0.008370,-0.007598,-0.008558,-0.003085,-0.004626,-0.009506,-0.007276,-0.006119
hasPool,-0.005594,0.017015,0.015514,1.000000,-0.004006,0.008072,0.014613,-0.006848,0.001894,0.000188,-0.001001,-0.007268,-0.011901,0.004832,0.001238,0.001123,-0.005070
floors,0.001109,0.022244,-0.000883,-0.004006,1.000000,0.002207,-0.004921,0.002463,0.005022,0.002458,-0.008566,0.006228,-0.000270,0.011303,0.003616,-0.021155,0.001654
cityCode,-0.001541,0.009040,0.006760,0.008072,0.002207,1.000000,0.011334,-0.007549,0.009266,-0.000224,-0.004941,0.002652,-0.002019,-0.002208,0.002554,-0.003338,-0.001539
cityPartRange,0.008758,0.008340,0.005023,0.014613,-0.004921,0.011334,1.000000,0.009238,0.007748,-0.001874,0.005224,0.004743,0.010696,-0.001648,-0.011338,-0.007153,0.008813
numPrevOwners,0.016619,0.016766,0.004279,-0.006848,0.002463,-0.007549,0.009238,1.000000,0.006858,-0.017420,0.002522,-0.000862,0.000719,0.020268,0.031707,-0.006082,0.016619
made,-0.007207,0.003978,0.002214,0.001894,0.005022,0.009266,0.007748,0.006858,1.000000,-0.001678,-0.000645,-0.005506,0.013773,0.005687,-0.007868,-0.005431,-0.007210
isNewBuilt,-0.010667,-0.002865,-0.008370,0.000188,0.002458,-0.000224,-0.001874,-0.017420,-0.001678,1.000000,0.003200,-0.015986,0.020127,0.002749,0.007011,0.019895,-0.010643
hasStormProtector,0.007480,-0.001656,-0.007598,-0.001001,-0.008566,-0.004941,0.005224,0.002522,-0.000645,0.003200,1.000000,-0.005001,-0.003753,0.003758,0.001401,-0.006549,0.007496
basement,-0.003960,-0.013990,-0.008558,-0.007268,0.006228,0.002652,0.004743,-0.000862,-0.005506,-0.015986,-0.005001,1.000000,-0.003180,0.000117,-0.010815,-0.020732,-0.003967
attic,-0.000588,0.012061,-0.003085,-0.011901,-0.000270,-0.002019,0.010696,0.000719,0.013773,0.020127,-0.003753,-0.003180,1.000000,-0.000611,-0.000789,-0.011995,-0.000600
garage,-0.017246,0.023188,-0.004626,0.004832,0.011303,-0.002208,-0.001648,0.020268,0.005687,0.002749,0.003758,0.000117,-0.000611,1.000000,0.032863,-0.017316,-0.017229
hasStorageRoom,-0.003486,-0.004760,-0.009506,0.001238,0.003616,0.002554,-0.011338,0.031707,-0.007868,0.007011,0.001401,-0.010815,-0.000789,0.032863,1.000000,0.015186,-0.003485
hasGuestRoom,-0.000623,-0.015529,-0.007276,0.001123,-0.021155,-0.003338,-0.007153,-0.006082,-0.005431,0.019895,-0.006549,-0.020732,-0.011995,-0.017316,0.015186,1.000000,-0.000644
price,0.999999,0.009591,-0.006119,-0.005070,0.001654,-0.001539,0.008813,0.016619,-0.007210,-0.010643,0.007496,-0.003967,-0.000600,-0.017229,-0.003485,-0.000644,1.000000

In [14]:
corr_matrix['price'].sort_values(ascending = False)

price                1.000000
squareMeters         0.999999
numPrevOwners        0.016619
numberOfRooms        0.009591
cityPartRange        0.008813
hasStormProtector    0.007496
floors               0.001654
attic               -0.000600
hasGuestRoom        -0.000644
cityCode            -0.001539
hasStorageRoom      -0.003485
basement            -0.003967
hasPool             -0.005070
hasYard             -0.006119
made                -0.007210
isNewBuilt          -0.010643
garage              -0.017229
Name: price, dtype: float64

In [15]:
corr_matrix['price'].sort_values(ascending = False)

price                1.000000
squareMeters         0.999999
numPrevOwners        0.016619
numberOfRooms        0.009591
cityPartRange        0.008813
hasStormProtector    0.007496
floors               0.001654
attic               -0.000600
hasGuestRoom        -0.000644
cityCode            -0.001539
hasStorageRoom      -0.003485
basement            -0.003967
hasPool             -0.005070
hasYard             -0.006119
made                -0.007210
isNewBuilt          -0.010643
garage              -0.017229
Name: price, dtype: float64

In [16]:
train_set, test_set = train_test_split(db, test_size=0.2, random_state=42)

In [17]:
train_set

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
9254,81531,57,0,1,2,53236,7,1,1990,0,0,6192,9969,736,1,2,8158198.0
1561,78731,88,0,0,79,78649,7,6,1991,1,1,5914,6048,742,0,3,7878473.1
1670,78004,71,1,1,96,39708,10,10,1990,1,1,4527,2138,329,1,6,7816750.0
6087,15727,25,1,0,55,17489,1,7,2007,0,1,8350,1546,859,1,8,1577602.7
6669,3190,59,0,0,95,35955,6,6,2004,1,1,9709,6168,338,0,5,322180.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,19387,17,0,0,64,18690,3,4,2020,1,0,9284,860,654,1,6,1940788.0
5191,92417,91,0,0,7,22818,3,10,2001,0,1,8642,1223,412,1,9,9242684.1
5390,98710,68,1,0,40,95125,1,5,1994,0,0,3411,7396,260,1,4,9877813.4
860,17051,46,1,1,43,67578,2,2,1993,1,1,6481,7029,346,0,2,1710016.3
7270,3649,84,1,1,73,88084,9,2,2003,0,0,5011,7119,814,0,10,375031.3

In [18]:
test_set

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
6252,79553,7,1,0,61,35059,8,2,1996,1,1,3372,7603,896,1,1,7964369.6
4684,37047,79,1,1,87,57780,3,3,2019,1,0,5658,8216,160,0,5,3713548.9
1731,85476,36,1,0,44,83386,9,7,1992,0,1,6698,6043,692,1,7,8553019.2
4742,64209,30,1,1,55,53245,5,5,1992,1,0,9761,6148,525,1,0,6428666.2
4521,64550,89,1,1,68,4708,7,2,2019,0,0,1945,8269,495,0,10,6465184.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6412,69418,3,1,1,70,32221,3,6,1992,0,1,1835,543,314,0,6,6951279.2
8285,81453,89,1,0,83,52916,6,4,2007,1,0,4244,3735,527,1,10,8152737.7
7853,19446,22,1,0,58,9698,1,10,2018,1,0,1437,2804,391,1,5,1947709.8
1095,29392,42,1,0,45,38294,9,7,2003,1,0,299,2376,200,1,9,2944295.3
6929,70346,18,1,0,83,13840,4,1,2007,0,0,3350,2323,772,1,5,7041725.7

In [19]:
label_train = train_set["price"].copy()

In [20]:
label_train

9254    8158198.0
1561    7878473.1
1670    7816750.0
6087    1577602.7
6669     322180.4
          ...
5734    1940788.0
5191    9242684.1
5390    9877813.4
860     1710016.3
7270     375031.3
Name: price, Length: 8000, dtype: float64

In [21]:
labels_test = test_set["price"].copy()

In [22]:
train_set = train_set.drop(['price'], axis = 1)
test_set = test_set.drop(['price'], axis = 1)

In [23]:


lin_reg = LinearRegression()

In [24]:
lin_reg

LinearRegression()

In [25]:
for i in range(1,17):
    rfe_i = RFE(lin_reg, i)
    rfe_i = rfe_i.fit(train_set, label_train)
    predictions_rfe_i = rfe_i.predict(train_set)
    lin_mse_rfe_i = mean_squared_error(label_train, predictions_rfe_i)
    lin_rmse_rfe_i = np.sqrt(lin_mse_rfe_i)
    print(i," ",lin_rmse_rfe_i)

/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=1 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=2 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=3 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=4 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=5 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)

1   2855176.4457531
2   2855048.4776618956
3   2855012.002018303
4   2467.1223910352765
5   2466.8849866509304

/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=6 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=7 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=8 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=9 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=11 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=12 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=13 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)

6   1897.546422415788
7   1892.0356898778982
8   1891.9109805320186
9   1891.8071559605203
10   1891.5722240673354
11   1891.5512686360275
12   1891.5332151041175
13   1891.3481676396975
14   1891.2033410323716
15   1891.0741278599023
16   1890.8705243290715

/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=14 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=15 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=16 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)

In [26]:
RFE

sklearn.feature_selection._rfe.RFE

In [27]:


round(db['price'].describe())

count       10000.0
mean      4993448.0
std       2877424.0
min         10314.0
25%       2516402.0
50%       5016180.0
75%       7469092.0
max      10006771.0
Name: price, dtype: float64

In [28]:
rfe = RFE(lin_reg, 8)
rfe = rfe.fit(train_set, label_train)
predictions_rfe = rfe.predict(train_set)
lin_mse_rfe = mean_squared_error(label_train, predictions_rfe)
lin_rmse_rfe = np.sqrt(lin_mse_rfe)
lin_rmse_rfe

/home/miki/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_features_to_select=8 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)

1891.9109805320186